<div class="container">

  <div class="page-header center-align">
    <h4 class="page-name-s"><span class="fa fa-cogs fa-fw"></span> Настройки </h4>
    <div class="flex">
      <a href="/settings/profile" class="btn btn-default btn-sm"> Способы авторизации </a> <br>
      <a href="/settings/categories" class="btn btn-default btn-sm"> Изменить категории </a>
    </div>
  </div>
