<div class="container">
  <div class="page-header text-center">
    {{!-- <h3 class="page-name-s "><i  class="material-icons prefix font-size-icon-2r page-name-s vertical-align-b">info</i> О проекте </h3> --}}
    <h4 class="page-name-s"><span class="fa fa-info-circle"></span> О проекте </h4>
  </div>
  <p class="font-weight-600"> Сервис HomeMoneyCalc позволяет сохранять, систематизировать Ваши семейные расходы и
    доходы. </p>
  <p> Вы всегда будете в курсе своих финансов. </p>
  <p> Информация представлена в виде диаграмм и таблиц.</p>
  <p class="font-weight-600">Основные функции:</p>
  <ul class="about-ui-li">
    <li>Авторизация через Google, Facebook, по паролю</li>
    <li>Отправка письма на Email о регистрации</li>
    <li>Восстановление забытого пароля через Email</li>
    <li>Создание пользовательских категорий расходов и доходов, задание цвета категорий</li>
    <li>Вывод статистики по расходам / доходам за день, месяц, год</li>
    <li>Возможность редактирования имеющихся данных</li>
    <li>Выбор способа отображения информации (диаграмма, таблица, диаграмма и таблица)</li>
    <li>Изменение порядка следования различных категорий</li>
  </ul>
</div>