<div class="container margin-t-50 center">
  <div class="page-name-s"> <span class="fa fa-home"></span> Добро пожаловать на проект HomeMoneyCalc</div>
  <hr>
  <div class="down-text margin-bottom-50">Ваш помощник по учету расходов и доходов</div>

  <div class="down-text-2"> Вход / Регистрация</div>

  <a href="/auth/google" class="waves-effect waves-light btn social google same-width social-index"><i
      class="fa fa-google"></i>Google</a>
  <a href="/auth/facebook" class="waves-effect waves-light btn social facebook same-width social-index"><i
      class="fa fa-facebook"></i>facebook</a>
  <a href="/login" class="btn btn-default same-width"><span class="fa fa-user"></span> Вход по login</a>
  <a href="/signup" class="btn btn-default same-width "><span class="fa fa-user"></span> Регистрация
    аккаунта</a>
  <div class="margin-bottom-50"> </div>
  {{!-- <a href="/auth/twitter" class="waves-effect waves-light btn social twitter same-width social-index "><i class="fa fa-twitter"></i>Twitter </a> --}}
  <p>Visit my websate: <a href="https://funprograms.ru">funprograms.ru</a></p>
</div>
