<div class="container">
  <div class="col-sm-6 col-sm-offset-3">

    <h4 class="page-name-s"><span class="fa fa-sign-in"></span> Задать пароль</h4>

    {{#if errors.length  }}
    <div class="alert alert-danger  pink-text center-align">{{errors}} </div>
    {{/if}}

    <form action="/password" method="post">
      <div class="input-field">
        <input type="password" class="validate" name="password" maxlength="32" data-length="32" required>
        <label for="password">Новый пароль</label>
        <span class="helper-text" data-error="Введите пароль"></span>
      </div>

      <input type="hidden" name="_csrf" value="{{csrf}}">
      <input type="hidden" name="userId" value="{{userId}}">
      <input type="hidden" name="token" value="{{token}}">
      <button type="submit" class="btn btn-warning btn-lg">Обновить пароль</button>
    </form>

    <hr>
    <p>или идем на <a href="/">главную</a></p>
